root = true

[*]
indent_style = tab
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
# CA5351: Do Not Use Broken Cryptographic Algorithms - vpks use MD5
dotnet_diagnostic.CA5351.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# CA1721: Property names should not match get methods
dotnet_diagnostic.CA1721.severity = none

# CA1002: Do not expose generic lists
dotnet_diagnostic.CA1002.severity = none
